"-Dprogram.name=JBossTools: WildFly 10.0 HA Node1 at localhost" 
-server -Xms64m -Xmx512m 
-Dorg.jboss.resolver.warning=true -Djava.net.preferIPv4Stack=true 
-Dsun.rmi.dgc.client.gcInterval=3600000 -Dsun.rmi.dgc.server.gcInterval=3600000 
-Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true 
"-Dorg.jboss.boot.log.file=/work/java/wildfly101/standalone/log/boot.log" 
"-Dlogging.configuration=file:/work/java/wildfly101/standalone/configuration/logging.properties" 
"-Djboss.home.dir=/work/java/wildfly101" 
-Dorg.jboss.logmanager.nocolor=true 
-Djboss.bind.address.management=localhost 
-Djboss.node.name=NodeA 
-Djava.endorsed.dirs=/work/java/wildfly101/endorsed 

-Djboss.node.name=NodeB 
-Djava.endorsed.dirs=/work/java/wildfly102/endorsed 
-Djboss.socket.binding.port-offset=1000